

.table_principal
{
	width:600px;
	border:0;
	font-size:13px;

}

.table_principal encabezado
{
		font-family: Arial, Helvetica, sans-serif;
		font-size:12px;
		background:#fff;
		width:100%;
		border:1px #aaaaaa solid;

}


.table_principal_rend
{
	width:1150px;
	border:0;
	font-size:13px;

}

.table_principal_no_meses
{
	width:810px;
	border:0;
	font-size:13px;

}

.table_principal_balance
{
	width:830px;
	border:0;
	font-size:13px;

}


.tabla_secuendaria
{
	border:1px solid #999;
}

.subtitulo
{
	background: #FC6;
	border:1px solid #999;
	font-size:14px;
	font-weight:bold;
	padding:3px;
}

.texto
{
	text-align:center;
	vertical-align:top;	
}

.campo
{
	border:1px solid #c1c1c1;
	padding:2px;
	padding-left:5px;
	vertical-align:top;
	font-size:11px;
	width:100px;
}

.valor
{
	background:#f9f9f9;
	border:1px solid #f1f1f1;
	vertical-align:top;
	padding:2px;
	font-size:11px; 
}

.valor_parrafo
{
	vertical-align:top;
	padding:2px;
	font-size:14px; 
}


.valor_black
{
	background:#f9f9f9;
	border:1px solid #f1f1f1;
	vertical-align:top;
	padding:2px;
	font-size:14px;
	font-weight:bold;
	width:100px;	
}



.tabla_tr_informes
{
	width:800px;
	margin-top:15px;
	margin-left:10px;
	text-align:center;
	border:#666 1px solid;
	-webkit-border-radius:6px 6px 6px 6px ;
    -moz-border-radius:6px 6px 6px 6px ;
    border-radius:6px 6px 6px 6px ;
	
}


.tabla_tr_informes .campo
{
	vertical-align:top;
	font-size:11px; 
	background:#ccc;
	border:1px solid #999;
	text-align:right;
	
}

.tabla_tr_informes .valor
{
/*	border:1px solid #c1c1c1;*/
	padding:2px;
	padding-left:5px;
	vertical-align:top;
	font-size:11px;
	/*width:20 px;*/

}

.tabla_listado
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	background:#fff;
	width:100%;
	border:1px #aaaaaa solid;
	
}

	.tabla_listado .campoclic
	{
		background-color:  	#E8E8E8 ;
		border:1px solid #aaaaaa;
		padding:5px;
		vertical-align:middle;
		text-align:center;
		font-size:12px;
	}
	
	.tabla_listado .campo
	{
		background:url('images/ui-bg_glass_85_dfeffc_1x400.png') 50% 50%;
		border:1px solid  #aaaaaa;
		color:#FFF;
		font-weight:bold;
		padding:5px;
		vertical-align:middle;
		text-align:center;
		font-size:12px;
	}

	.tabla_listado .valor
	{
		background:url('images/ui-bg_inset-hard_100_f5f8f9_1x100.png') 50% 50%;
		border:1px dotted #aaaaaa ;
		color:#000;
		padding:3px;
		vertical-align:middle;
		font-size:13px;
		cursor:pointer;
	}

	.tabla_listado .valor_listado
	{
		/*background:url('images/ui-bg_inset-hard_100_f5f8f9_1x100.png') 50% 50%;*/
		border:1px dotted #aaaaaa ;
		color:#000;
		padding:3px;
		vertical-align:middle;
		text-align:center;
		font-size:10px;
	}


	.tabla_listado .valorN
	{
		background:url('images/ui-bg_inset-hard_100_f5f8f9_1x100.png') 50% 50%;
		border:1px dotted #aaaaaa ;
		color:#000;
		padding:3px;
		text-align:right;
		vertical-align:middle;
		font-size:13px;
		cursor:pointer;
	}

.td_estilo_redondo
{
	border: 1px solid grey;
	margin:0;
	padding:0;
	border-radius:7px;
	overflow:hidden;
	-moz-box-shadow: 0px 0px 13px 6px #ccc;
    -webkit-box-shadow: 0px 0px 13px 6px #ccc;
    box-shadow: 0px 0px 10px 3px #ccc;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#111111')";
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#111111');
}



