/*##################################################################Estilos generales#################################################################*/
  body
  {
	  margin-top:5px;
	  background:url('images/ui-bg_diagonals-thick_100_ededed_40x40.png') 50% 50%;
	  
  }
  
  select, option{
	  text-align:left;
	  -moz-border-radius: 5px 5px 5px 5px;
	  -webkit-border-radius: 5px 5px 5px 5px;
	  border-radius: 5px 5px 5px 5px;
	  color: #000;
      background-color:#f6f6f6;
	  
  }
  input
  {
	  color: #000;
      background-color:#f6f6f6;
	  -moz-border-radius: 5px 5px 5px 5px;
	  -webkit-border-radius: 5px 5px 5px 5px;
	  border-radius: 5px 5px 5px 5px;
  }
  
  option.par {background-color: #fff}
  option.impar {background-color: #f6f6f6} 
  
/* ################################################################################################################################################## */  

/* ##########################################################Estilos Agenda################################################################################*/ 

.tabla_ingreso_agenda
{
	border:#999 1px dashed; 
	padding:25px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0px 0px 5px  #000000;
	-webkit-box-shadow: 0px 0px 5px  #000000;
	box-shadow: 0px 0px 5px #000000;
	-ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity = 85);
}


.td_general
{
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0px 0px 5px #000000;
	-webkit-box-shadow: 0px 0px 5px #000000;
	box-shadow: 0px 0px 5px #000000;
	-ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity = 85);
	padding:5px;
	background-color:#FFF;
}

.td_fondo_inicio
{	background:url('../imagenes/fondo_inicio.jpg') no-repeat;
	background-size:100%;	
}

.td_fondo_inicio_cerrar
{	background:url('../imagenes/fondo_cerrar_sesion.jpg') no-repeat;
	background-size:100%;	
}

.table_gd
{
	margin-top:15px;
	margin-left:20px;
	

	
}



.table_general
{
	margin-top:15px;
	margin-left:10px;
	border:#666 1px solid;
	-webkit-border-radius:6px 6px 6px 6px ;
    -moz-border-radius:6px 6px 6px 6px ;
    border-radius:6px 6px 6px 6px ;
	
}

.table_general .div_cabecera
{ padding:4px;
  -webkit-border-radius:6px 6px 6px 6px ;
  -moz-border-radius:6px 6px 6px 6px ;
  border-radius:6px 6px 6px 6px ;
  color:#fff;
  margin:0;
  background:url('images/ui-bg_glass_75_0846a1_1x400.png')50% 50%;
  font-weight:bold;
  font-size:16px;
}

.table_general .campo
{
	/*background:url('images/ui-bg_inset-hard_100_f5f8f9_1x100.png') 50% 50%;
	border:1px solid #aaaaaa;*/
	color:#006;
	font-weight:bold;
	padding:5px;
	
	font-size:14px;
	text-align:left;
}


.table_general .titulo_menu
{
	font-size:25px;
	font-style:normal;
	text-align:left;
}

.table_general .error
{
	
	border:1px solid #FF040B;
	background-color:#FFF4F0;
	color:#FF0000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: inset 2px 0px #FF0000;
	-webkit-box-shadow: inset 2px 0px #FF0000;
	box-shadow: inset 2px 0px #FF0000;
	font-size:14px;
}
	
.table_general .botonera
{
	-webkit-border-radius:6px 6px 6px 6px ;
	-moz-border-radius:6px 6px 6px 6px ;
	border-radius:6px 6px 6px 6px ;
	 background:url('images/ui-bg_inset-hard_100_f5f8f9_1x100.png');
	border:1px solid #aaaaaa;
	vertical-align:middle;
	text-align:right;
	padding:5px;
	font-size:10px;
	height:100%;
}	
 .div_botonera	
{
	-webkit-border-radius:6px 6px 6px 6px ;
	-moz-border-radius:6px 6px 6px 6px ;
	border-radius:6px 6px 6px 6px ;
	background:url('../imagenes/fondo_button.jpg')50% 50%;
	border:1px solid #aaaaaa;
	vertical-align:middle;
	text-align:right;
	padding:5px;
	font-size:12px;
	text-decoration: 
	color:#006; 
	font-size:14px;
	font-weight:bold;
	cursor:pointer;

}	

.div_botonera:hover	
{
	-webkit-border-radius:6px 6px 6px 6px ;
	-moz-border-radius:6px 6px 6px 6px ;
	border-radius:6px 6px 6px 6px ;
	background:url('images/ui-bg_glass_75_0846a1_1x400.png')50% 50%;
	 border:1px solid #00C;
	vertical-align:middle;
	text-align:right;
	padding:5px;
	font-size:12px;
	text-decoration:none;
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	cursor:pointer;

}	

.table_general .valor
{
	border:#999 1px solid;
}

.table_general .campoclic
	{
		background:url('images/ui-bg_glass_85_dfeffc_1x400.png');
		border:1px solid #aaaaaa;
		font-weight:bold;
		padding:5px;
		vertical-align:middle;
		font-size:12px;
		width:100%;
		
	}

.td_campo
{	border:#CCC 1px solid;
	margin-top:15px;
   -webkit-border-radius:6px 6px 6px 6px ;
   -moz-border-radius:6px 6px 6px 6px ;
    border-radius:6px 6px 6px 6px ;

}

.div_select_funcionarios
{
	margin:15px;
}

.div_select_especialidad
{
	margin:15px;
}

.div_nombrefuncionario
{	
	width:200px;
	height:50px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

/* ################################################################################################################################################## */

/* ############################################################ Menu desplegable solo CSS ############################################################ */

* {
font-family:Verdana, Geneva, sans-serif;
list-style:none;
text-decoration:none;
margin:0;
padding:0;
}

.nav > li {
float:left;
}
 
.nav li a {

opacity: 0.90;
display:block;
width:160px;
height:25px;
text-align:center;
color:#000;
font-weight:bold;
border:#006cb7 solid 1px;
background:url('images/ui-bg_diagonals-thick_100_ededed_40x40.png') 50% 50%;	
}
 
.nav li a:hover {
background:#006cb7;
cursor:pointer;
color:#FFF;
}

.nav li ul {
display:none;
position:absolute;
min-width:160px;
}

.nav li:hover > ul {
display:block;
}

.nav li ul li {
position:relative;
}
 
.nav li ul li ul {
right:-160px;
top:0;
}

.nav li .flecha{
font-size: 9px;
padding-left: 6px;
display: none;
}

.nav li a:not(:last-child) .flecha {
display: inline;
}

/* ############################################################ Fin Menu desplegable solo CSS ############################################################ */

/* ############################################################ TABLA ESTILO ############################################################  */


.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc; 
	 *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 1000px;          
}

.bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;    
}

.bordered th {
    background: #fcfdfd url(images/ui-bg_inset-hard_100_fcfdfd_1x100.png) 50% 50%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}


/* ####################################### FIN TABLA ESTILO ZEBRA ############################################  */

.tabla_listado {
		font-family: Arial, Helvetica, sans-serif;
		font-size:12px;
		background:#fff;
		width:100%;
		border:1px #aaaaaa solid;
	}


.mano:hover
{
	background-color:#0F3;
}



.mano
{
	cursor:pointer;
}



/* ####################################### Acordion ############################################  */

#accordion p
{
    height:80px;
	width:800px;
	text-align:left;
	font-size:12px;	
}

.tabla_general
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background:#fff;
	border:1px #aaaaaa solid;
}


.tabla_general .cabecera
{
	/*background:url('images/ui-bg_glass_75_0846a1_1x400.png') 50% 50% repeat-x;*/
	padding:5px;
	color:#FFF;
	font-weight:bold;
	font-size:12;

}

/* ############ SUBIR IMAGENES CON PRE-VISUALIZACION #############*/ 

#main {  
    width: 400px;  
    margin:auto;  
    background: #ececec;  
    padding: 20px;  
    border: 1px solid #ccc;  
}  
  
#image-list {  
    list-style:none;  
    margin:0;  
    padding:0;  
}  
#image-list li {  
    background: #fff;  
    border: 1px solid #ccc;  
    text-align:center;  
    padding:20px;  
    margin-bottom:19px;  
}  
#image-list li img {  
    width: 358px;  
    vertical-align: middle;  
    border:1px solid #474747;  
}  
