table.tbl_impresion{border: 1px solid #7F7F7F;width:680px;padding: 5px;	}

table.tbl_impresion table.encabezado{font-size: 11px; font-weight: bold; width: 100%;}

table.tbl_impresion table.remitentes{padding-top: 20px; padding-left:30px; font-size:13px; font-weight: bold;}
table.tbl_impresion table.remitentes td{padding-top: 20px;}

table.tbl_impresion table.contenidos{padding-top: 20px; padding-left:30px; font-size:12px;}

table.tbl_impresion table.firma{ padding-top: 20px; padding-left:30px; font-size:12px; font-weight: bold;text-align: right; width:100%;}





table.tbl_impresion tr.titulo_superior{
	border: 1px solid #A2A2A2;
	font-size: 13px;
	font-weight: bold;
	padding: 5px;
}


table.tbl_impresion td.titulo{
	
	border: 1px solid #A2A2A2;
	font-size: 18px;
	width:680px;
	text-align: center;
	padding-bottom: 5px;
	font-weight: bold;
	padding: 5px;
}

table.tbl_impresion td.subtitulo{

	font-size: 15.5px;
	padding-bottom: 5px;
	font-weight: bold;
	padding: 5px;
}


table.tbl_impresion td.td_contenido{
	padding-top: 5px;	
	
}

table.tbl_contenido{
	/*border: 1px solid #A2A2A2;*/
	width:700px;
	padding: 5px;
	
}

table.tbl_contenido td, th{
	border: 1px solid #A2A2A2;
	text-align: center;
	height: 25px;
}

table.tbl_contenido tr.tr_descripcion{
	font-weight: bold;
	padding:10px;
}

table.tbl_contenido tr.tr_descripcion th{
	font-weight: bold;
	padding:10px;
}


table.tbl_contenido tr.tr_descripcion td{
	font-weight: bold;
	font-size: 12px;
}
tr.tr_informacion td{
	font-size:12px;
}
table.tbl_contenido tr.tr_informacion td{
padding:6px;
}


