html {background: #F6F6F6; font-size: 10px;} 

body{text-align:center;margin:0 auto;background-color: #EEEEEE;}
div#center{margin: 0 auto;text-align:left;width:1024px;border-left:#666666 1px solid;border-right:#666666 1px solid;background-color: #FFFFFF;height:1000px;
}

#div_contenedor{ width: 950px; margin:auto;}

#div_contenedor h1{font-size:18px;font-weight: bold; margin: 10px;text-align: center;}
#div_contenedor h2{font-size:14px;font-weight: bold; margin: 10px; border-bottom: 2px solid #333333;}

#div_contenedor table.formulario {width:950px;padding: 0;margin: 0;}
#div_contenedor table.formulario tr td.capsula{border: 1px solid #878787;}
#div_contenedor table.formulario tr td.capsula table td.texto{font-size:12px;color:#333333;width:70px;}
#div_contenedor table.formulario tr td.capsula table td.contenido{font-size:12px;color:#333333;width: 150px}



#div_contenedor table.formulario tr td.capsula table td input{width: 125px;border: 1px solid #787878;}
#div_contenedor table.formulario tr td.capsula table td textarea{border: 1px solid #787878; width:200%;}
#div_contenedor table.formulario tr td.capsula table td select{width:130px;border: 1px solid #787878;}
#div_contenedor table.formulario tr td.capsula table td.button{width: 70px; text-align: center;}


#div_contenedor table.formulario tr td.botonera{text-align: center; }
#div_contenedor table.formulario tr td.botonera button{cursor: pointer;}
#div_contenedor table.formulario tr td.botonera button img{width: 25px; height:25px;}

.requerido{background-color:#F69494;}
.validado{background-color:#8EF5AD;}


/* ----------------  main menu_sistemas_sistemas styles ------------------- */
* {margin:0;padding:0;}
div#div_menu_sistemas{width:100%;border: 1px solid #FFFFFF;position: relative; font-size: 14px;}
ul#menu_sistemas{width: 100%;list-style: none; text-align: center;margin-bottom: 50px;}
ul#menu_sistemas li#menu_principal{width:100px;background-color: #F6F6F6;border:1px solid black;float:left;padding: 3px; }
ul#menu_sistemas li#menu_principal:hover{ background-color:#A7A7A7; font-weight: bold;}
ul#menu_sistemas li#menu_principal a:hover{color:#FFFFFF;}
ul#menu_sistemas li#menu_principal a {display: block; text-decoration: none; color:#000000;}
ul#menu_sistemas li#menu_principal ul#sub_menu {display: none; list-style: none;position:absolute; margin-top:3px;  } 
ul#menu_sistemas li#menu_principal ul#sub_menu li {width:auto;background-color: #F6F6F6;border:1px solid black;padding: 3px;margin-top:3px;}
ul#menu_sistemas li#menu_principal:hover ul#sub_menu {display: block; position: absolute; }
ul#menu_sistemas li#menu_principal ul#sub_menu li:hover{ background-color:#A7A7A7;color: #F3F3F3; font-weight: bold;}
ul#menu_sistemas li#menu_principal ul#sub_menu li:hover a{color:#FFFFFF;}
ul#menu_sistemas li#menu_principal ul#sub_menu li ul#sub_sub_menu { list-style: none;position: absolute; display:none;  }
ul#menu_sistemas li#menu_principal ul#sub_menu li:hover ul#sub_sub_menu {display:block; }

/* ------------------- css dialogos ------------------- */

div.dialogo h1{font-size:18px;font-weight: bold; margin: 10px;text-align: center;}
div.dialogo h2{font-size:14px;font-weight: bold; margin: 10px; border-bottom: 2px solid #333333;}

div.dialogo table.formulario {width:100%;padding: 0;margin: 0;}
div.dialogo table.formulario tr td.capsula{border: 1px solid #878787;}
div.dialogo table.formulario tr td.capsula table td.texto{font-size:12px;color:#333333;width:100%;}
div.dialogo table.formulario tr td.capsula table td.contenido{font-size:12px;color:#333333;width: 100%}

div.dialogo table.formulario tr td.capsula table td input{width:200px;border: 1px solid #787878;}
div.dialogo table.formulario tr td.capsula table td textarea{border: 1px solid #787878; width:200%;}
div.dialogo table.formulario tr td.capsula table td select{width:130px;border: 1px solid #787878;}
div.dialogo table.formulario tr td.capsula table td.button{width: 70px; text-align: center;}

div.dialogo table.formulario tr td.botonera{text-align: center; }
div.dialogo table.formulario tr td.botonera button{cursor: pointer;}
div.dialogo table.formulario tr td.botonera button img{width: 25px; height:25px;}


/* ---------------------------- tabla listado ---------------------------------- */

#div_contenedor table.listado {width:950px;padding: 0;margin: 0;}
#div_contenedor #div_listado table.listado td.encabezado {width: 100%;font-size:12px;color:#333333; border: 1px solid black;}
#div_contenedor #div_listado table.listado tr table.resultado{ width: 100%;}
#div_contenedor #div_listado table.listado tr table.resultado td.descripcion {text-align:center;  width:auto;font-size: 11px;font-weight:bolder; border: 1px solid #878787;background: #E2E2E2; }
#div_contenedor #div_listado table.listado tr table.resultado td.cantidad {text-align:center;  width:50px;font-size: 11px;font-weight:bolder; border: 1px solid #878787;background: #E2E2E2; }
#div_contenedor #div_listado table.listado tr table.resultado td.descripcion span.icono_td{text-align: right;}

#div_contenedor #div_listado table.listado tr table.resultado td.descripcion span.icono_td img{width: 10px;height: 10px;}
#div_contenedor #div_listado table.listado tr table.resultado tr.seleccion:hover{background-color: #FCEFA1;; cursor: pointer;}

#div_contenedor #div_listado table.listado tr table.resultado td.valor {width:auto;font-size: 11px;border: 1px dotted #878787; text-align: center;  }
#div_contenedor #div_listado table.listado tr table.resultado td.accion {width:30px; border: 1px dotted #878787; text-align: center;  }




