@charset "utf-8";
/* CSS Document */
/* Estilo principal */

body {
	margin: 0px 0;
	padding: 0;
	background: #FFFFFF;
	font: normal 12px Arial, helvetica, sans-serif;	
	color:#31333B;

}

#header {
	width: 1000px;
	height: 200px;
	margin-left: auto;
  	margin-right: auto;
}

#contenedor{
	width:1000px;
	margin:0 auto;
}

h1,h2 {
 color:#635F61;
 font-size:24px;
 padding-left:12px;
 font:sans-serif;
 
 }
 
 /* Botones */
.boton_1{
	width:100px;
	height:30px;
	background-color: #FF6600;
	color:#FFF;
	border:#FFF solid 1px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	behavior: url(../pie/PIE.htc);
	
}

.boton_2{
	width:300px;
	height:30px;
	background-color: #FF6600;
	color:#FFF;
	border:#FFF solid 1px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	behavior: url(../pie/PIE.htc);
	
}

.boton_3{
	width:65px;
	height:25px;
	background-color: #FF6600;
	color:#FFF;
	border:#FFF solid 1px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	behavior: url(../pie/PIE.htc);
	
}

.img_boton{
	float:right;
	cursor:pointer;	
}

.boton{
	cursor:pointer;
}

th, td, tr {
   width: 25%;
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
   border-collapse: collapse;
   padding: 0.3em;
   border-color:#F60
   
}
caption {
   padding: 0.3em;
}
