body
{
	
}

table
{
	width:100%;
	border:0;
	font-size:13px;
	text-transform:uppercase;
}

.tabla_subcontenedora
{
	border:1px solid #999;
}

.subtitulo
{
	background:#ccc url(../img/fondo_degradegrisoscuro.png) 50% 50%;
	border:1px solid #999;
	font-size:14px;
	font-weight:bold;
	padding:3px;
}

.campo
{
	background:#e6e6e6 url(../img/fondo_degradegris.png) 50% top repeat-x;
	border:1px solid #c1c1c1;
	padding:2px;
	padding-left:5px;
	vertical-align:top;
}

.valor
{
	background:#f9f9f9;
	border:1px solid #f1f1f1;
	vertical-align:top;
	padding:2px;
}

.valor2
{
	background:#f9f9f9;
	border:1px solid #000000;
	vertical-align:top;
	padding:2px;
}

.tipo_documento
{
	font-weight:bold;
	font-size:17px;
}