
/* ########### FORMATOS GENERALES ############ */
	body {
		background:#fff;
		margin-left:10px;
		margin-right:10px;
		font-size:11px;
	}
	
	img
	{
		border:0px;
		vertical-align:middle;
	}

	a
	{
		color:#000;
		text-decoration:none;
	}
	
	a:hover
	{
		color:#F00;
	}
	
	input,textarea
	{
		border:1px solid #999;
		color:#333;
		padding:2px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: inset 3px 0px #999194;
		-webkit-box-shadow: inset 3px 0px #999194;
		box-shadow: inset 3px 0px #999194;
	}
	
	input:hover,textarea:hover
	{
		border:1px solid #333;
		
	}
	
	select
	{
		
		border:1px solid #999;
		color:#333;
		padding:2px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: inset 3px 0px #999194;
		-webkit-box-shadow: inset 3px 0px #999194;
		box-shadow: inset 3px 0px #999194;
		
	}
	table
	{
		width:100%;
	}

	.titulo_menu
	{
		font-size:25px;
		font-style:normal;
		text-align:left;
	}
	
	.boton_derecha
	{
		display: block;
		overflow: hidden;
		float:right;
	}

	.ayuda
	{
		color:#333;
		float			: right;
		font-size		: 9px;
	}
	
	.div_cargando
	{
		position:center;
		display:none;
	}
	
/* ########### TABLA_GENERAL ############ */

	.tabla_general
	{
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		background:#fff;
		width:100%;
		border:1px #aaaaaa solid;
	}
	
	
	.tabla_general .cabecera
	{
		background:url('images/ui-bg_glass_75_0846a1_1x400.png') 50% 50% repeat-x;
		padding:5px;
		color:#FFF;
		font-weight:bold;
		font-size:12px;

	}
	
	
	.tabla_general .botonera
	{
		/*background:url('images/ui-bg_inset-hard_100_f5f8f9_1x100.png');*/
		background-color:F0F0F0; 
		border:1px solid #aaaaaa;
		vertical-align:middle;
		text-align:right;
		padding:5px;
		font-size:12px;
		text-decoration: 
	}
	
	.tabla_general .campo
	{
		/*background:url('images/ui-bg_inset-hard_100_f5f8f9_1x100.png') 50% 50%;*/
		background-color: #F0F0F0;
		border:1px solid #aaaaaa;
		color:#006;
		font-weight:bold;
		padding:5px;
		vertical-align:middle;
		font-size:12px;
	}
	
	.tabla_general .valor
	{
		/*background:url('images/ui-bg_inset-hard_100_f5f8f9_1x100.png') 50% 50%;*/
		background-color:#F8F8F8;
		border:1px dotted #aaaaaa;
		color:#006;
		padding:3px;
		vertical-align:middle;
		font-size:15px;
	}

	.tabla_general .valorN
	{
		background:url('images/ui-bg_inset-hard_100_f5f8f9_1x100.png') 50% 50%;
		border:1px dotted #aaaaaa;
		color:#006;
		padding:3px;
		text-align:right;
		vertical-align:middle;
		font-size:15px;
	}

	
	.tabla_general .valorerroneo
	{
		background	: #FDD;
		border		: 1px dotted #F00;

		padding:2px;/*
		-moz-border-radius: 5px 5px 5px 5px;
		-webkit-border-radius:  5px 5px 5px 5px;
		border-radius:  5px 5px 5px 5px;
		-moz-box-shadow: inset 1px 0px #F00;
		-webkit-box-shadow: inset 1px 0px #F00;
		box-shadow: inset 1px 0px #F00;*/
	}


	
/* ########### TABLA_LISTADO ############ */

	.tabla_listado
	{
		font-family: Arial, Helvetica, sans-serif;
		font-size:12px;
		background:#fff;
		width:100%;
		border:1px #aaaaaa solid;
		
	}
	
	.tabla_listado_dialogo
	{
		font-family: Arial, Helvetica, sans-serif;
		font-size:12px;
		background:#fff;
		/*border:1px #aaaaaa solid;*/
	}
	
	table.tabla_dialogo
	{
		font-family: Arial, Helvetica, sans-serif;
		font-size:12px;
		background:#fff;
		/*border:1px #aaaaaa solid;*/
	}
	
	table.tabla_dialogo tr td.dialogo_campo
	{
		width: 40px;
	
	}
	
	.tabla_listado .cabecera
	{
		/*background:#5c9ccc url('images/ui-bg_glass_75_0846a1_1x400.png') 50% 50% repeat-x;*/
		background: #FC6 url('images/ui-bg_glass_75_0846a1_1x400_naranja.png') 50% 50% repeat-x;
		padding:5px;
		color: #424242;
		font-weight:bold;
		font-size:12px;
	}
	
	.tabla_listado .botonera
	{
		/*background:url('images/ui-bg_inset-hard_100_f5f8f9_1x100.png');*/
		background-color:#F0F0F0 ;
		border:1px solid #aaaaaa;
		vertical-align:middle;
		text-align:right;
		padding:5px;
		font-size:12px;
	}
	
	.tabla_listado .campoclic
	{
		background-color:  	#E8E8E8 ;
		border:1px solid #aaaaaa;
		font-weight:bold;
		padding:5px;
		vertical-align:middle;
		text-align:center;
		font-size:12px;
	}
	
	.tabla_listado .campo
	{
		background:url('images/ui-bg_glass_85_dfeffc_1x400.png') 50% 50%;
		border:1px solid  #aaaaaa;
		color:#FFF;
		font-weight:bold;
		padding:5px;
		vertical-align:middle;
		text-align:center;
		font-size:12px;
	}

	.tabla_listado .valor
	{
		background:url('images/ui-bg_inset-hard_100_f5f8f9_1x100.png') 50% 50%;
		border:1px dotted #aaaaaa ;
		color:#000;
		padding:3px;
		vertical-align:middle;
		font-size:13px;
		cursor:pointer;
	}

	.tabla_listado .valor_listado
	{
		/*background:url('images/ui-bg_inset-hard_100_f5f8f9_1x100.png') 50% 50%;*/
		border:1px dotted #aaaaaa ;
		color:#000;
		padding:3px;
		vertical-align:middle;
		text-align:center;
		font-size:10px;
	}

	.tabla_listado .valor_listado_izq
	{
		/*background:url('images/ui-bg_inset-hard_100_f5f8f9_1x100.png') 50% 50%;*/
		border:1px dotted #aaaaaa ;
		color:#000;
		padding:3px;
		vertical-align:middle;
		text-align:left;
		font-size:10px;
	}

	.tabla_listado .valorN
	{
		background:url('images/ui-bg_inset-hard_100_f5f8f9_1x100.png') 50% 50%;
		border:1px dotted #aaaaaa ;
		color:#000;
		padding:3px;
		text-align:right;
		vertical-align:middle;
		font-size:13px;
		cursor:pointer;
	}

	.mano
	{
		cursor: pointer;
	}
	
	.mano:hover
	{
		background-color:#CCFFCC;
	}	
/* CSS para diseñar select */
 /* Selectmenu
----------------------------------*/
/*
.ui-selectmenu { 
	display: block;
	position:relative;
	height:2em;
	text-decoration: none;
	overflow:hidden;
	size:2;
	
}

.ui-selectmenu-icon { 
	position:absolute;
	right:6px; 
	margin-top:-8px; 
	top: 50%;
}

.ui-selectmenu-menu { 
	padding:0;
	margin:0;
	list-style:none;
	position:absolute;
	top: 0;
	visibility: hidden;
	overflow: auto;
	size:3;
}

.ui-selectmenu-open {
	visibility: visible;
}

.ui-selectmenu-menu-popup {
	margin-top: -1px;
}

.ui-selectmenu-menu-dropdown {
}

.ui-selectmenu-menu li {
	padding:0;
	margin:0;
	display: block;
	border-top: 1px dotted transparent;
	border-bottom: 1px dotted transparent;
	border-right-width: 0 !important; border-left-width: 0 !important; 
	font-weight: normal !important; 
}

.ui-selectmenu-menu li a,.ui-selectmenu-status {
	line-height: 1.4em; 
	display:block; 
	padding:.3em 1em; 
	outline:none; 
	text-decoration:none; 
}

.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status { 
	padding-left: 20px;
	position: relative;
    margin-left: 5px;
}

.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon { 
	position: absolute; 
	top: 1em; 
	margin-top: -8px; 
	left: 0;
}

.ui-selectmenu-status { 
	line-height: 1.4em;
}

.ui-selectmenu-open li.ui-selectmenu-item-focus a { }
.ui-selectmenu-open li.ui-selectmenu-item-selected { }

.ui-selectmenu-menu li span,.ui-selectmenu-status span { 
	display:block;
	margin-bottom: .2em;
}

.ui-selectmenu-menu li .ui-selectmenu-item-header { 
	font-weight: bold;
}

.ui-selectmenu-menu li .ui-selectmenu-item-content {  }

.ui-selectmenu-menu li .ui-selectmenu-item-footer { 
	opacity: .8;
}
/*for optgroups*//*
.ui-selectmenu-menu .ui-selectmenu-group { 
	font-size: 1em;
}

.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label { 
	line-height: 1.4em; 
	display:block; 
	padding:.6em .5em 0; 
	font-weight: bold; 
}

.ui-selectmenu-menu .ui-selectmenu-group ul { 
	margin: 0;
	padding: 0;
}   



*/
.myDiv {
  border:2px solid #0094ff;
  -webkit-border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topleft:6px;
  -moz-border-radius-topright:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  width:300px;
  font-size:12pt; /* or whatever */
}
.myDiv h2 {
  padding:4px;
  color:#fff;
  margin:0;
  background-color:#0094ff;
  font-size:12pt; /* or whatever */
}
.myDiv p {
  padding:4px; 
}

.ui-autocomplete {
    max-height: 450px;
    max-width:600px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}

